<div class="inputbox-component">
    <div class="inputbox-buttonkeeper">
        <button class="button-inputbox" role="button" @onclick="OnClickCallback">@Title</button>
    </div>
</div>
<div>Ваш ответ: @ResultAnswer</div>
@code
{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? ResultAnswer { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
