<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RealtyWeb_Server.styles.css" />
    <link rel="stylesheet" href="myStyle/flagStylet.css" />
    <link rel="stylesheet" href="myStyle/myButton.css" />
    <link rel="stylesheet" type="text/css" href="myStyle/myNavMenu.css" />
    <link rel="stylesheet" type="text/css" href="myStyle/myInput.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <HeadOutlet @rendermode="InteractiveServer" /> @*Страница 30*@
</head>

<body>
    <Routes @rendermode="InteractiveServer" /> @*Страница 30*@
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="js/operation.js"></script>
</body>

</html>
