
<h3>Дочерний компонент</h3>
<hr />
@foreach (var item in LogEvents)
{
    <h6>@item</h6>
    <hr />
}

@code {
    List<string> LogEvents = new List<string>();
    protected override void OnInitialized()
    {
        LogEvents.Add("Вложеный - OnInitialized вызван");
    }
}
