<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

<h3>_StateCounter</h3>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    private int _count;
    public int Count { 
        get => _count;
        set
        {
            _count = value;
            StateHasChanged();
        }
    }
}
