<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RealtyWeb_Server</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingBlazor/testCounter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Состояние(@stateCounter.Count)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingBlazor/testMyCounter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Мой счетчик
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingBlazor/bindingFeature">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Привязка свойств
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingBlazor/showTenants">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Наниматели
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingBlazor/parent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Отрисовка
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingBlazor/listTenants">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Список
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="studyingRouting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Маршрутизация
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingBlazor/workJs">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> JavaScript
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainingBlazor/eventsLifecycle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Жизненный цикл
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test/test">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Тест
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [CascadingParameter]
    public _StateCounter stateCounter { get; set; } = null!;
}
