@page "/house/create"
@page "/house/edit/{Id:int}"
@inject IRegionRepository _regionRepository
@inject IHouseRepository _houseRepository
@inject IJSRuntime _JS
@inject NavigationManager _navigationManager

<div class="row my-2">
    <h3 class="card-title text-primary mb-3">@Caption регион</h3>
    <div class="col-12">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="images/loading.gif" />
            </div>
        }
        else
        {
            @*
            <EditForm Model="region" OnValidSubmit="ModifyHouse" FormName="regionEdit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Наименование</label>
                    <ValidationMessage For="() => region.Nm"></ValidationMessage>
                    <InputText @bind-Value="region.Nm" class="form-control"></InputText>
                </div>
                <div class="form-group">
                    <label>Код ГИБДД</label>
                    <ValidationMessage For="() => region.GIBDD"></ValidationMessage>
                    <InputText @bind-Value="region.GIBDD" @oninput="HandleInputGIBDD" class="form-control" maxlength="2"></InputText>
                </div>
                <div class="form-group py-2">
                    <button class="btn btn-primary">@Caption</button>
                    <NavLink href="region" class="btn btn-secondary">Назад к списку</NavLink>
                </div>
            </EditForm>*@
        }
    </div>
</div>

@code {
    private string Caption { get; set; } = "Добавить";
    private IEnumerable<Region> Regions = new List<Region>();
    private House house { get; set; } = new House();
    [Parameter]
    public int Id { get; set; }
    public bool IsLoading { get; set; } = true;
    private async Task LoadRegion()
    {
        //region = await _regionRepository.Get(Id);
        IsLoading = false;
    }
    private async Task LoadHouse()
    {
        Regions = await _regionRepository.GetAll();
        if (Id > 0)
        {
            Caption = "Обновить";
            house = await _houseRepository.Get(Id);
        }
        IsLoading = false;
    }
    protected override async Task OnParametersSetAsync()
    {
        await LoadHouse();
    }
    private async Task ModifyHouse()
    {
        try
        {
            if (house.Id == 0)
            {
                await _houseRepository.Create(house);
                await _JS.NotyfSuccess("Дом добавлен успешно");
            }
            else
            {
                await _houseRepository.Update(house);
                await _JS.NotyfSuccess("Дом обновлен успешно");
            }
            _navigationManager.NavigateTo("house");
        }
        catch(Exception ex)
        {
            await SweetAlertFailure(ex.Message);
        }
    }
    private async Task SweetAlertFailure(string msg)
    {
        await _JS.InvokeVoidAsync("ShowSweetAlert", "error", msg);
    }
    private void HandleInputGIBDD(ChangeEventArgs e)
    {
        //region.GIBDD = e.Value as string;
    }
}