@page "/trainingBlazor/parent"

<style>
    .box {
        background-color: gray;
        border: 5px solid purple;
    }
</style>
<style>
    .boxParent {
        background-color: lightgray;
        border: 5px solid gray;
        margin-top: 15px;
        width: 450px;
        padding: 5px
    }
</style>

<h5 class="boxParent">Родитель</h5>
<CascadingValue Value=@Message Name="Message">
    <CascadingValue Value="@Money" Name="Money">
        <_ChildComponent></_ChildComponent>
    </CascadingValue>
</CascadingValue>
<br />

<_OtherChild placeholder="Заполнитель из родителя"></_OtherChild>
<br />

<h3 class="box" style="width:300px;padding:5px;">Родитель</h3>
<br />

<_Child @ref="child" OnButtonPress="ShowAlert">
    <ChildContent>Сообщение из родителя!</ChildContent>
    <First_ChildContent>Это первый дочерний компонент!</First_ChildContent>
    <Another_ChildContent>Отправлено от другого дочернего компонента.</Another_ChildContent>
</_Child>
<h4>@alertText</h4>

<input @ref="@textInput" />
<button @onclick="() => textInput.FocusAsync()">Фокус</button>

<br />
<div class="row mt-1">
    <div class="col">
        <buttn class="btn btn-success" @onclick="ShowNotyf" style="width:200px;">Успех Notyf</buttn>
    </div>
</div>

@code {
    public string Money { get; set; } = "20000";
    public string Message { get; set; } = "Привет из родителя(Parent.razor)!";
    public _Child? child { get; set; }
    public string alertText { get; set; } = string.Empty;
    ElementReference textInput;

    private void ShowNotyf()
    {
        child?.ShowNotyfSuccess();
    }
    private void ShowAlert()
    {
        alertText = "Кнопка нажата из дочернего компонента";
        child?.ShowMsg();
    }
}