@page "/trainingBlazor/testMyCounter"
@inject StateContainerService stateService
@inject ILocalStorageService LocalStorageService
@implements IDisposable


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @stateService.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    internal const string StateKeyName = "CounterValue";
    protected override void OnInitialized()
    {
        stateService.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        stateService.OnStateChange -= StateHasChanged;
    }

    private void IncrementCount()
    {
        stateService.SetValue(++stateService.Value);
        LocalStorageService.SetStringAsync(StateKeyName, stateService.Value.ToString());
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var state = await LocalStorageService.GetStringAsync(StateKeyName);
        if (state != null)
        {
            stateService.Value = Convert.ToInt32(state);
            StateHasChanged();
        }
    }
}