@page "/trainingBlazor/workJs"
@inject IJSRuntime _JS
@implements IDisposable

<h3>Работа с JavaScript</h3>
<div>
    <button class="btn btn-primary" @onclick="ShowConfirm">Кнопка подтверждения</button>
</div>
<br />
<div>
    @if (IsConfirm)
    {
        <span class="label success">Было сделано подтверждение!</span>
    }
    else
    {
        <span class="label warning">Подтверждение не было получено!</span>
    }
</div>
<br />
<div class="row">
    <div class="col">
        <buttn class="btn btn-success" @onclick="ShowNotyfSuccess" style="width:200px;">Успех Notyf</buttn>
        <buttn class="btn btn-danger" @onclick="ShowNotyfFallure" style="width:200px;">Неудача Notyf</buttn>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <buttn class="btn btn-success" @onclick="SweetAlertSuccess" style="width:200px;">Успех SweetAlert2</buttn>
        <buttn class="btn btn-danger" @onclick="SweetAlertFallure" style="width:200px;">Неудача SweetAlert2</buttn>
    </div>
</div>
<div>
    <BeatifulButton Title="Нажми меня!" OnclickCallback="Onclick" ResultAnswer="@resultAnswer"></BeatifulButton>
</div>


@code {
    private string ConfirmText = "Ты уверен, что хочешь нажать?";
    private bool IsConfirm { get; set; }
    string resultAnswer = string.Empty;
    EditContext? editContext;

    async void Onclick(MouseEventArgs arg)
    {
        var task = new ExampleJsInterop(_JS);
        resultAnswer = await task.Prompt("Дайте ответ!");
        editContext?.NotifyFieldChanged(editContext.Field(nameof(resultAnswer)));
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        editContext = new EditContext(this);
        editContext.OnFieldChanged += (snder, args) => StateHasChanged();
    }
    public void Dispose()
    {
        editContext.OnFieldChanged -= (snder, args) => StateHasChanged();
    }
    private async Task SweetAlertSuccess()
    {
        await _JS.InvokeVoidAsync("ShowSweetAlert", "success", "Процедура завершена успешн!");
    }
    private async Task SweetAlertFallure()
    {
        await _JS.InvokeVoidAsync("ShowSweetAlert", "error", "Операция не удалась!");
    }
    private async Task ShowConfirm()
    {
        IsConfirm = await _JS.InvokeAsync<bool>("confirm", ConfirmText);
    }
    private async Task ShowNotyfSuccess()
    {
        await _JS.NotyfSuccess("Операция выполнена успешно!");
    }

    private async Task ShowNotyfFallure()
    {
        await _JS.NotyfError("Операция не удалась!");
    }
}

<style>
    .label {
        color: white;
        padding: 8px;
    }

    .success {
        background-color: green;
    }

    .warning {
        background-color:orange;
    }
</style>