@page "/region"

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Список регионов</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="region/create" class="btn btn-primary form-control">Новый регион</a>
    </div>
</div>

@code {

}
